html,
body {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    box-sizing: border-box;
    font-size: $font-size;

    @include media("tablet") {
        font-size: $font-size - 1px;
    }

    @include media("phone") {
        font-size: $font-size - 2px;
    }
}

body {
    position: relative;
    min-height: 100%;
    font-family: $font-main;
    line-height: $font-line-height;
    color: $font-color;
    background: $body-background;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-bottom: rem($body-padding-bottom);
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin-top: 0;
    font-size: rem($font-size);
}

*, *:before, *:after {
    box-sizing: inherit;
}

::selection {
    background-color: $selection-bg-color;
    color: $selection-font-color;
}