* {
  padding: 0;
  margin: 0;
}

body {
  background: #1a1a1a url('/assets/images/background/bg.png') repeat;
  font-family: 'Lato', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  padding: 15px; 
}